trigger: none
pool: devops

parameters:
- name: Environments
  displayName: Dev,stage,Prod
  type: string
  values:
  - Dev
  - Stage
  - Prod

- name: region
  displayName: eastus,westus,centralus
  type: string
  values:
  - eastus
  - westus
  - centralus

steps:
- task: TerraformTask@5
  inputs:
    provider: 'azurerm'
    command: 'init'
    workingDirectory: '$(System.DefaultWorkingDirectory)/terraform-azurerm_landingzone-framework/environments/'
    backendServiceArm: 'wif'
    backendAzureRmStorageAccountName: 'stroageaccountdotnet'
    backendAzureRmContainerName: 'container'
    backendAzureRmKey: 'terraform.tfstate'