trigger: none
pool: devops

steps:
- task: TerraformInstaller@1
  inputs:
    terraformVersion: 'latest'

- task: TerraformTask@5
  inputs:
    provider: 'azurerm'
    command: 'init'
    workingDirectory: '$(System.DefaultWorkingDirectory)/terraform-azurerm_landingzone-framework/environments/'
    backendServiceArm: 'wif'
    backendAzureRmStorageAccountName: 'stroageaccountdotnet'
    backendAzureRmContainerName: 'container'
    backendAzureRmKey: 'terraform.tfstate'