trigger: none
pool: 'ubuntu-latest'

parameters:
- name: Environments
  displayName: Dev,stage,Prod
  type: string
  values:
  - Dev
  - Stage
  - Prod

- name: region
  displayName: eastus,westus,centralus
  type: string
  values:
  - eastus
  - westus
  - centralus

steps:
- task: PowerShell@2
  inputs:
    targetType: 'inline'
    script: 'terraform init'