trigger: none
pool: devops

steps:
- task: TerraformInstaller@1
  inputs:
    terraformVersion: 'latest'


- task: TerraformTask@5
  inputs:
    provider: 'azurerm'
    command: 'init'
    workingDirectory: '$(System.DefaultWorkingDirectory)\environments'
    backendServiceArm: 'wif'
    backendAzureRmStorageAccountName: 'stroageaccountdotnet'
    backendAzureRmContainerName: 'container'
    backendAzureRmKey: 'terraform.tfstate'


- task: TerraformTask@5
  inputs:
    provider: 'azurerm'
    command: 'plan'
    workingDirectory: '$(System.DefaultWorkingDirectory)\environments'
    environmentServiceNameAzureRM: 'wif'
